$color-white: #ffffff;
$color-black: #000000;
$color-blue-light: #24a0ed;
$color-blue-dark: #128dd9;
$color-green-light: #32cd32;
$color-green-dark: #228b22;
$color-gray-light: #e7e6e6;
$color-gray-dark: #cccccc;

$size-xs: 8px;
$size-s: 16px;
$size-m: 24px;
$size-l: 32px;
$size-xl: 48px;
$size-xxl: 64px;